.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.BloqueInicial{
  background-color: rgb(92, 125, 197);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 500px;
  padding: 20px;
  border-radius: 20px;

}

.BLoqueInterno{
  display: flex;
  flex-direction: row;
  margin: 0px 50px;
  border-radius: 20px;
}

.BloqueFunction{  
  background-color: gray;
  margin: 10px 800px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}

.VerticalList{
  background-color: rgb(224, 168, 168);
  margin: 0px 0px;
  width : 150px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 20px;
}

.InputWidth{
  margin: 10px 10px;
  align-self: right;
  width: 40%;
  border-radius: 5px;
  display: flexbox;
}

.texto{
  color:black;
  display: flex;
  align-self: left;
  margin: 10px 10px;
  font-weight: bolder;
}

.ContentHorizontal{
  display: flex; 
  flex-direction: row;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
